body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 20s infinite ease-in-out;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: #2c50d5;
    font-size: 60px;
    letter-spacing: 15px;
    background-color: #f6f8fa;
}
.content h1 span{
    color: #1f7cd8;
    background-color: #f6f8fa;
}


@keyframes change{
    0%
    {
        background-image: url(https://images.unsplash.com/photo-1700740760502-f28b1769c8d3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    20%
    {
        background-image: url(https://images.unsplash.com/photo-1574273509043-f94f45e5b164?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    40%
    {
        background-image: url(https://images.unsplash.com/photo-1555848962-6e79363ec58f?q=80&w=2033&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    60%
    {
        background-image: url(https://images.unsplash.com/photo-1482160549825-59d1b23cb208?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    80%
    {
        background-image: url(https://images.unsplash.com/photo-1590372447928-33080a2b401a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    100%
    {
        background-image: url(https://images.unsplash.com/photo-1502920514313-52581002a659?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
}

.main-Section_top-content {
    justify-content: space-between;
    flex-flow: row wrap;
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    row-gap: 20px;
    display: flex;
    align-items: center;

}

.card {
    width: 360px;
    height: 400px;
    box-shadow: 0 0 4px #5897cb;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 8px;
}

.news-source {
    margin-block: 12px;
}


 
.footer {
    background-image: url("https://miro.medium.com/v2/resize:fit:828/format:webp/0*JyvX7_cIoRb-08uN.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

 .footer .links a{
    text-decoration: none;
    color: #fff;
 }
  
 .footer .links a:hover{
    text-decoration: none;
    color: #7cd023;
 }
  .footer::before {
    position: absolute;
    content: "";
    display: block;
    background-color: rgba(0, 0, 36, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
   .footer .links {
    position: relative;
    color: #fff;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
 .links ul {
    list-style-type: none;
  }
  
  .links h3 {
    font-family: Barlow Condensed;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 15px;
  }
  
  .links li {
    font-family: Roboto;
    cursor: pointer;
    padding: 15px 0;
  }
  
  .links li:hover {
    color: #bb8725;
  }





